<div class="container-fluid" id="jumboAU">
  <h1 class="display-1 text-center" id="title">Search your interested users.</h1>
  <hr class="my-4">
  <p class="h4 text-center" id="desc">This page allows you search users by differents filters.</p>
</div>
  
  <div class="container-a" id="filter-selector">
      <div class="row">
        <div class="col-sm-4">
          <h2 class="ctitle" id="f-title">Filter</h2>
          <label for="" id="f-bd">Language to teach: </label>
          <select name="language" id="language" class="form-control" [(ngModel)] = "language">
            <option [value]="l" *ngFor = "let l of languages" >{{ l }}</option>
          </select>
          <div>
            <button class="btn btn-dark" (click)="addToTeach()" >Add</button>
          </div>
          <div class="checkbox" *ngIf="active2 == 1">
            <input type="checkbox" value="-1" [(ngModel)]="seconF"> 
            <label for="sfilter" id="f-bd"> Filter per languages to learn? </label>
          </div>
          <div *ngIf="seconF == 1">
            <label for="">Language to learn: </label>
            <select name="language" id="language" class="form-control" [(ngModel)] = "languageL">
              <option [value]="l" *ngFor = "let l of languages2" >{{ l }}</option>
            </select>
            <button class="btn btn-dark" (click)="addToLearn()">Add</button>
          </div>
          <div class="checkbox" *ngIf="active3 == 1">
            <input type="checkbox" value="-1" [(ngModel)]="thirdF"> 
            <label for="sfilter" id="f-bd"> Filter per country? </label>
          </div>
          <div *ngIf="thirdF == 1">
            <label for="country">Country: </label>
            <input type="text" [(ngModel)]="country" class="form-control" required>
            <button class="btn btn-dark" (click)="addCountry()">Add</button>
          </div>
          <div class="checkbox" *ngIf="active4 == 1">
            <input type="checkbox" value="-1" [(ngModel)]="fourthF"> 
            <label for="sfilter" id="f-bd"> Filter per age? </label>
          </div>
          <div *ngIf="fourthF == 1">
            <label for="iage">Initial Age: </label>
            <input type="number" [(ngModel)]="Iage" class="form-control" required>
            <label for="fage">Final Age: </label>
            <input type="number" [(ngModel)]="Fage" class="form-control" required>
          </div>
          <button class="btn btn-dark" (click)="clean()">Clean</button>
          <button color="primary" class="btn btn-dark" (click)="filter()">Search</button>
        </div>
        <div class="col-lg-8 col-sm-8" style="margin-right: 0%;">
          <table class="table table-hover text-center" aria-describedby="Registered Users" id="table1">
            <thead id="th" style="background-color: #e9e9e9;">
                <tr>
                    <th id="header">Name</th>
                    <th id="header">Languages to Learn</th>
                    <th id="header">Languages to Teach</th>
                </tr>
            </thead>
            <tbody class="scrollable" id="tb" style="background-color: #e9e9e9;">
                <tr *ngFor="let user of users" >
                    <td>{{user.nombre}}</td>
                    <td><label for="idiomstoLearn" *ngFor="let i of user.idiomasApr">{{i.iNombre}}, </label></td>
                    <td><label for="idiomstoTeach" *ngFor="let l of user.idiomasEns">{{l.iNombre}}, </label></td>
                </tr>
            </tbody>
        </table>
        </div>
      </div>
  </div>
  