<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid rounded" id="jumboAU">
        <div class="container">
          <h1 class="display-1">Total Users by Country</h1>
          <hr class="my-4">
          <p class="h4">This page shows the amount of registered users by country.</p>
        </div>
      </div>
</div>
<ng-container>
    <div class="container-fluid">
        <table class="table table-hover text-center" aria-describedby="Users by Country">
            <thead class="thead-dark">
                <tr>
                    <th id="header">Country</th>
                    <th id="header">Amount of Users</th>
                </tr>
            </thead>
            <tbody class="scrollable">
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-container>
