#jumboAU {
  margin-top: 0.5rem;
  margin-bottom: 5rem;
}

#title {
  font-family: 'EB Garamond', serif;
  font-size: xx-larger;
  font-weight: bold;
  color: #056676;
}

#desc {
  font-family: 'Barlow', serif;
  font-size: 160%;
  font-weight: bold;
  color: #056676;
}


button {
  margin-top: 5%;
  background-color: #056676;
  font-family: 'Barlow', sans-serif;
  font-size: large;
  font-weight: bold;
}

label {
  margin-top: 5%;
  font-family: 'Barlow', serif;
  font-size: 159%;
  font-weight: bold;
  color: #056676;
}
