<form action="" class="form">
    <div style="text-align: center; margin-left: 15%; margin-right: 15%; margin-top: 5%;">
    <label for="">Nombre:</label>
    <input type="text" class="form-control">
    <label for="">Edad</label>
    <input type="number" class="form-control">
    <label for="">Sexo</label>
    <select name="" id="" class="form-control">
        <option value="Masculino">Masculino</option>
        <option value="Femenino">Femenino</option>
    </select>
    <label for="">País</label>
    <input type="text" class="form-control">
    <div>
        <label for="">Idioma(s) a aprender/practicar:</label>
        <input type="text" class="form-control">
        <button class="btn btn-dark">Agregar</button>
    </div>
    <div>
        <label for="">Idioma(s) a enseñar:</label>
        <input type="text" class="form-control">
        <button class="btn btn-dark">Agregar</button>
    </div>
    <label for="">Hobbies:</label>
    <input type="text" class="form-control">
    <label for="">Medio por el cual desea practicar:</label>
    <div>
        <select name="" id="" class="form-control">
            <option value="skype">Skype</option>
            <option value="whatsapp">Whatsapp</option>
            <option value="intercambio">Página de intercambio</option>
            <option value="persona">En persona</option>
        </select>
        <button class="btn btn-dark">Agregar</button>
    </div>
    <button class="btn btn-dark">Crear</button>
    </div>
</form>