<div class="container-fluid" id="jumboAU">
    <h1 class="display-1 text-left" id="title">Registered Users.</h1>
    <hr class="my-4">
    <p class="h4" id="desc">This page shows all the registered users, their origin country and which languages they're intrested in learning.</p>
</div>
<ng-container>
    <div class="container-fluid">
        <table class="table table-hover text-center" aria-describedby="Registered Users" id="table1">
            <thead id="th" style="background-color: #e9e9e9;">
                <tr>
                    <th id="header">Name</th>
                    <th id="header">Country</th>
                    <th id="header">Languages</th>
                </tr>
            </thead>
            <tbody class="scrollable" id="tb" style="background-color: #e9e9e9;">
                <tr *ngFor="let user of users$" >
                    <td>{{user.name}}</td>
                    <td>{{user.country}}</td>
                    <td>{{user.languages}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-container>