<div class="contaniner-xl">
    <div class="jumbotron jumbotron-fluid rounded" id="jumboAD">
        <div class="container">
          <h1 class="display-1">Check All Registered Users</h1>
          <p class="h3">¿No encuentras tu película favorita en nuestro sistema?</p>
          <p class="h5">Ayudanos a extender nuestro catálogo de películas :)</p>
          <p class="lead"> Llena los campos presentados a continuación con la información de la película que deseas agregar.</p>
          <br>
          <hr class="my-4">
          <blockquote class="blockquote text-center">
            <p class="mb-0">You now what they call a Quarter Pounder with Cheese in France?</p>
            <footer class="blockquote-footer">Jules Winnfield, <cite title="Source Title">Pulp Fiction</cite></footer>
          </blockquote>
        </div>
      </div>
</div>
