#jumboAU {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

#div1 {
  background-color: rgb(182, 183, 185);
  padding: 0.5rem;
  margin: 0.3rem;

}

#div2 {
  background-color: rgb(182, 183, 185);
  padding: 0.5rem;
  margin: 0.3rem;
}
