

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #57a19f;" id="nav">
    <a class="navbar-brand" [routerLink]="['']">Languages</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-2">
      <li class="nav-item" *ngIf="tipoU == '1'">
        <a class="nav-link" [routerLink]="['Admin/Users']" routerLinkActive="active">Users Stats</a>
      </li>
      <li class="nav-item" *ngIf="tipoU == '1'">
        <a class="nav-link" [routerLink]="['Admin/Country']" routerLinkActive="active">Country Stats</a>
      </li>
      <li class="nav-item" *ngIf="tipoU == '1'">
        <a class="nav-link" [routerLink]="['Admin/Languages']" routerLinkActive="active">Languages Stats</a>
      </li>
      <li class="nav-item" *ngIf="tipoU == '0'">
        <a class="nav-link" [routerLink]="['register']" routerLinkActive="active">Register</a>
      </li>
      <li class="nav-item" *ngIf="tipoU == '0'">
        <a class="nav-link" [routerLink]="['login']" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item" *ngIf="tipoU == '2'">
        <a class="nav-link" [routerLink]="['filter']" routerLinkActive="active">Filter</a>
      </li>
      <li *ngIf="tipoU != '0'" style="margin-left: 1000%;">
        <button class="btn btn-dark" (click)="logout()"><a [routerLink]="['/login']" routerLinkActive="active" >Logout</a></button>
      </li>
      </ul>
    </div>
  </nav>
