#nav {
  font-family: 'Quicksand', sans-serif;
  font-size: larger;
}

#logbtn {
  margin-left: 1800%;
  margin-top: 10%;
  background-color: #056676;
  font-family: 'Barlow', sans-serif;
  font-size: large;
  font-weight: bold;
}
