.titles{
    margin-left: 50px;
    font-weight: bold;
    font-size: 35px;
}

.titlesL{
    margin-left: 50px;
    font-size: 35px;
}


.edit{
    margin-left: 200px;
    font-size: 35px;
}

.info{
    margin-left: 10px;
    font-size: 35px;
}